<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    {{#if errors}}
    <div>
        <div class="errorContainer">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div class="navigation">
        <nav>
            <img src="/static/images/logo.png">
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="/">Home</a></li>
                <li><a href="/courses">All Courses</a></li>
                <!--For guest users-->
                {{#unless user}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                <!--For loggin users-->
                {{else}}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/courses/create">Create Course Offers</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{/unless}}

            </ul>
        </nav>
    </div>

    <main>
        {{{body}}}
    </main>

    <footer>Back-End 2023</footer>

</body>

</html>